* {
    font-family: "Avenir Next", "Roboto", "sans-serif";
    background-color: #00A1FA;
}

html, body {
    text-align: center;
    height: 100%;
    overflow: hidden;
}

nav {
    padding: 5px;
}

a {
    color: white;
    display: inline-block;
    position: relative;
    height: 100%;
    text-decoration: underline dotted;
    text-decoration-color: black;

}

span {
    display: block;
    height: 100%;
}

object {
    pointer-events: none;
}

p {
    color: white;
    display: inline-block;
}

#header {
    padding-top: 2.5%;
    margin-left: 11%;
    font-size: 1.3vw;
    min-height: 20px;
}

#links-left {
    text-align: left;
    float: left;
    opacity: 0.9;
}

#links-left a {
    text-decoration: none;
    padding-left: 20px;
}

#links-left a.left-item-active {
    font-weight: 600;
}

#links-left a:hover {
    text-decoration-color: #ddd;
    color: #073B4C;
}

#links-right {
    padding-right: 10%;
    text-align: right;
    float: right;
    display: inline-block;
}

#links-right .github-logo {
    width: 2vw;
    height: 2vw;
}

#links-right .linkedin-logo {
    padding-right: 1.3vw;
    width: 2vw;
    height: 2vw;
}

#about-section {
    clear: both;
    z-index: 1;
}

#avatar {
    display: block;
    position: relative;
    max-width: 150%;
    margin-top: 7.8vw;
}

#avatar .headshot {
    /*margin-left: 11.5%;*/
    min-width: 140px;
    width: 13.5vw;
    resize: both;
}

#bio {
    display: inline-block;
    position: relative;
    width: 80%;
}

#bio .intro {
    color: white;
    font-weight: lighter;
    font-size: 2.1vw;
    min-width: 0.7vw;
}

#contact-section {
    margin-top: 1%;
    padding: 5px;
    overflow-clip: true;
    clear: top;
}

#contact-section .svg-wrapper {
    display: inline-block;
    transform: translateY(-50%);
    margin: 3% auto 30vw;
    min-width: 300px;
    cursor: pointer;
}

#contact-section .svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

#contact-section .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -435;
    stroke-width: 4px;
    fill: transparent;
    stroke: #fff;
    border-color: white;
    border-bottom: 5px solid white;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

#contact-section .text {
    font-family: 'Avenir Next', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    top: -48px;
    position: relative;
}
